<?xml version="1.0" encoding="UTF-8"?>
<events>
    <event>
        <title/>
        <location/>
        <date/>
        <details/>
    </event>
<history><title>Kangga Festival</title><location>Mogpog, Marinduque</location><date>2023-05-13</date><image>MANIWAYA.jpg</image><details>dsfds</details></history><event><title>Kangga Festival</title><location>Mogpog, Marinduque</location><date>2023-06-06</date><image>MANIWAYA.jpg</image><details>bla bal</details></event><event><title>Marinduque Provincial Meet</title><location>Marinduque</location><date>2023-04-12</date><image>homepage2.jpg</image><details>The Provincial Meet of Marinduque is a highly anticipated sports event that brings together talented athletes from different municipalities within the province. It showcases a wide array of sporting competitions, fostering healthy competition, sportsmanship, and community spirit while providing a platform for athletes to showcase their skills and represent their respective towns with pride.&#13;
</details></event></events>
